/*========================================
    Overall Styling of Inputs etc
==========================================*/

input[type="search"],
input[type="text"],
input[type="email"],
textarea {
    padding: 0.4rem 1.85rem 0.4rem 0.75rem;
    line-height: .75rem;
    border: 2px solid rgb(243, 240, 240);
    background: rgb(253, 252, 252);
    border-radius: 6px;
    width: 100%;
    font-size: 0.8rem;
    font-family: 'Century Gothic W01';
}

label.screen-reader-text {
    display: none;
}

.frm_error {
    font-size: 0.75rem !important;
    padding-top: 0.5rem !important;
    color: red;
}

.frm_required {
    color: red;
}

.frm_message p {
    font-size: 1rem !important;
    padding-top: 0.5rem !important;
}

.frm_error_style {
    float: left;
    padding-top: 1rem;
    color: $perry-winkle;
    width: 100%;
    text-align: center;
}

.sidebar fieldset {
    border: none !important;
}

.already-submitted {
    font-size: 1rem;
    font-weight: 600;
}

/*========================================
    contact form
==========================================*/

.contact-form {
    margin-top: 1rem;

    fieldset {
        border: none;
        padding: 0;
    }

    .form-field {
        margin: 1rem 0;

        .frm_primary_label {
            margin-bottom: 0.5rem;
            display: inline-block;
        }
    }

    .contact-btn {
        padding: 1rem;
        width: 35%;
        font-size: 1.1rem;
    }
}