@font-face {
    font-family: 'jemma-financial-icons';
    src: url("fonts/jemma-financial-icons.eot?rnvbtm");
    src: url("fonts/jemma-financial-icons.eot?rnvbtm#iefix") format("embedded-opentype"), url("fonts/jemma-financial-icons.ttf?rnvbtm") format("truetype"), url("fonts/jemma-financial-icons.woff?rnvbtm") format("woff"), url("fonts/jemma-financial-icons.svg?rnvbtm#jemma-financial-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'jemma-financial-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jemma-financial-arrow-right:before {
    content: "\e903";
    position: relative;
    top: 1px;
}

.icon-jemma-financial-bullseye:before {
    content: "\e900";
    font-size: 1.5rem !important;
    position: relative;
    top: 3px;
}

.icon-jemma-financial-chair:before {
    content: "\e901";
    font-size: 1.5rem !important;
    position: relative;
    top: 3px;
}

.icon-jemma-financial-grad:before {
    content: "\e902";
    font-size: 1.5rem !important;
    position: relative;
    top: 3px;
}