/*
Theme Name: Jemma Financial
Theme URI: http://underscores.me/
Author: Lance
Author URI: #
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: jemma_fin
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Jemma Financial is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Imports
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/

.lance {
    width: 200px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Imports & Susy Set Grid Elements and Variables
--------------------------------------------------------------*/

@import "../bower_components/susy/sass/susy";
@import "icons";
@import "mfp";

$susy: (columns: 12, container: 980px, gutter-position: after, debug: (image: hide));
$perry-winkle: rgba(170, 103, 169, 1);
$deep-purple: rgba(48, 35, 94, 1);
$charm-blue: rgba(98, 129, 192, 1);
$deep-purple-trans: rgba(48, 35, 94, 0.95);
$charm-blue-trans: rgba(98, 129, 192, 0.75);
$perry-winkle-trans: rgba(170, 103, 169, 0.75);
$trans-color: rgba(255, 255, 255, 0);

// New Mega Menu background-color
$off-white-blue: rgba(247, 250, 253, 1);
$light-gray: rgba(153, 153, 153, 0.5);
$dark-gray: rgba(54, 54, 54, 1);
$pink: rgba(198, 152, 198, 1);
$medium: 768px;
$large: 992px;

/*@mixin linearGradient($top, $right) {
    background: $top;
    background: -moz-linear-gradient(top, $top 71%, $right 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(71%, $top), color-stop(80%, $right));
    background: -webkit-linear-gradient(top, $top 71%, $right 80%);
    background: -o-linear-gradient(top, $top 71%, $right 80%);
    background: -ms-linear-gradient(top, $top 71%, $right 80%);
    background: linear-gradient(to right, $top 71%, $right 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}*/

@mixin nth-last($n, $type: child) {
    &:nth-#{$type}(#{$n}) {
        @include last;
    }
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html {
    font-size: 100%;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #666;
    font-weight: 500;
}

body,
button,
input,
select,
textarea {
    color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: $perry-winkle;
    font-family: 'Raleway', sans-serif;
    text-transform: inherit;
    margin: 1.5rem 0 1.5rem 0;
    padding: 0;
}

p {
    color: #777;
}

h1 {
    font-size: 1.802rem;
    line-height: 0.998rem;
}

.single-post h1.entry-title {
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.posted-on {
    margin-bottom:1.5rem;
    display: block;
}

h2 {
    font-size: 1.602rem;
    line-height: 1.029rem;
}

h2.entry-title {
    line-height: 2rem;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.424rem;
    line-height: 1.053rem;
}

h4 {
    font-size: 1.266rem;
    line-height: 1.066rem;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.066rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 0 0 1.5rem 0;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5rem;
}

address {
    margin: 0 0 1.5rem;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

.purple-text {
    color: $perry-winkle;
}

.deep-purple-text {
    color: $deep-purple;
}

.blue-text {
    color: $charm-blue;
}

.small-title-text {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0.5rem;

    + p {
        /*padding-top: 0;
        margin-top: 0.75rem;*/
    }
}

.large-title-text {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0.5rem;

    + p {
        /*padding-top: 0;
        margin-top: 0.75rem;*/
    }
}

/*--------------------------------------------------------------
# Glossary
--------------------------------------------------------------*/

.glossaryList {
    list-style: none;
}

#ttcont {
    display: block;
    padding: 2rem;
    margin-left: 5px;
    background: $deep-purple-trans;
    color: white;

    a {
        color: white;

        &:hover {
            color: white;
        }
    }
}

.cminds_poweredby {
    display: none !important;
}

.goback-baby {
    color: $perry-winkle !important;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;

    /* Fallback for when there is no custom background color defined. */
    @include susy-media($medium) {
        padding: 0;
    }
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5rem;
}

ul,
ol {
    margin: 0 0 1.5rem 3rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5rem;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5rem 1.5rem;
}

img {
    height: auto;

    /* Make sure images are scaled correctly. */
    max-width: 100%;

    /* Adhere to container width. */
}

table {
    margin: 0 0 1.5rem;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

.btn-ctrl {
    line-height: .875rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    width: 100%;
    font-size: 0.75rem;
    color: white;
    text-transform: uppercase;
}

.regular-btn {
    padding: 1rem;
    width: 50%;
}

.blue {
    background: $charm-blue;
    color: white;
    border-color: rgb(47, 91, 138);
}

.deep-purple {
    background: $deep-purple;
    color: white;
}

.purple {
    background: $perry-winkle;
    color: white;
}

.already-submitted {
    font-size: 1.5rem !important;
    font-weight: 600;
}

/* Rounder Button
-------------------------------*/

.jem-app-button {
    @include span(12);

    padding: 1rem .75rem;
    font-size: 20px;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1;

    &:hover {
        color: white;
    }
}

/* Less Rounder Button
-------------------------------*/

.jem-alt-app-button {
    @include span(12);

    padding: .5rem;
    font-size: 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;

    &:hover {
        color: white;
    }

    &:visited {
        color: white;
    }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    border-radius: 6px;
    font-size: 0.85rem;
    line-height: 1;
    padding: 0.55rem 1rem;
    background: $perry-winkle;
    color: white;
    font-weight: 600;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    /* border-color: #aaa #bbb #bbb;
     box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);*/
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="tel"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 3px;
    width: 100%;
    font-size: 0.85rem;
    line-height: 1.5rem;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: $perry-winkle;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover,
a:focus,
a:active {
    color: $deep-purple;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus nth-hour menu change / to mega menu
--------------------------------------------------------------*/

//Small

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    padding: 1rem;
}

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 1rem;
    background: $perry-winkle;
    border-radius: 6px;

    > li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        > a {
            color: white;
            padding: 0.5rem 0;
            margin: 0;
            width: 100%;
            display: block;
            text-decoration: none;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.menu .sub-menu {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    display: block;

    li {
        padding: 0.3rem 1rem;

        a {
            color: white;
            text-decoration: none;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0.5rem;
        }
    }
}

// Medium ~ 768
@include susy-media($medium) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }

    .main-navigation {
        clear: both;
        float: left;
        width: 100%;
        font-weight: 600;
        font-size: 1rem;
        margin: 2rem 0 1rem 0;
    }

    .menu {
        position: relative;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        background: none;
        border-radius: 6px;
        display: table;
        font-size: 0.95rem;

        > li {
            border-bottom: none;
            float: left;
            display: table-cell;
            padding: 0;
            width: 23.5%;

            //border: 1px solid red;
            text-align: center;

            > a {
                color: #333;
                padding: 0.5rem 0;
                margin: 0;
                text-decoration: none;
            }

            &:nth-child(1) {
                width: 15%;
                text-align: left;
            }

            &:nth-child(2) {
                width: 28%;
            }

            &:nth-child(5) {
                width: 10%;
                background: $perry-winkle;
                border-radius: 6px;

                a {
                    color: white;
                }
            }
        }
    }

    .menu .sub-menu {
        float: left;
        position: absolute;
        top: 2rem;
        left: -999rem;
        z-index: 99999;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        min-width: 245px;
        background: $off-white-blue;
        border-radius: 6px;
        -webkit-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
        box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
        font-size: 0.85rem;

        .col {
            float: left;
            width: 245px;
        }

        li {
            //padding: 0.5rem 1rem .5rem 1rem;
            //background: $perry-winkle;
            &:after {
                content: "\f105";
                font-family: FontAwesome;
                padding-left: 0.3rem;
            }

            a {
                color: $deep-purple;
                text-decoration: none;
            }

            &:hover {
                //background: $deep-purple;
           
            }

            &:first-child {
                padding: 0.5rem 1rem .5rem 1rem;

                //border-top-left-radius: 6px;
                //border-top-right-radius: 6px;
           
            }

            &:last-child {
                border-bottom: none;
                padding: 0.5rem 1rem .5rem 1rem;

                //border-bottom-left-radius: 6px;
                //border-bottom-right-radius: 6px;
                //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
           
            }
        }
    }

    .menu .sub-menu ul {
        left: -999em;
        top: 0;
    }

    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
        left: 17%;
    }
}


@include susy-media($large) {
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
        left: 20%;
    }
}


.menu ul a {
    min-width: 300px;
}

.menu ul li {}

.main-navigation li:hover > a,
.main-navigation li.focus > a {}

.main-navigation ul ul:hover > a,
.main-navigation ul ul .focus > a {}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 1.5em 0;
    overflow: hidden;
    font-size: 0.85rem;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;

    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-main,
.site-header,
.site-hero {
    @include container;

    padding: 0 1rem;

    @include susy-media($large) {
        padding: 0;
    }
}

.site-main {
    padding-bottom: 2.5rem;
}

.site-header {
    padding-top: 2rem;

    @include susy-media($large) {
        padding: 2rem 0 1rem;
    }
}

.site-logo {
    @include span(8 of 12);

    @include pre(2);

    @include susy-media($medium) {
        @include span(6 of 12);

        @include pre(3);

        margin-bottom: 1rem;
    }


    @include susy-media($large) {
        @include span(3 of 12);

        text-align: left;
        margin-left: 0;

        img {
            width: 233px;
            height: 58px;
        }
    }
}

.site-header-actions {
    @include susy-media($medium) {
        @include span(12);
    }


    @include susy-media($large) {
        @include span(9 of 12 last);
    }


    text-align: center;
    margin-right: 0;
}

.site-header-links {
    @include span(12);

    font-size: 0.95rem;
    text-align: center;
    padding-top: 0.5rem;

    a {
        text-decoration: none;
        color: $perry-winkle;

        &:hover {
            color: $deep-purple;
        }
    }

    @include susy-media($large) {
        display: inline-block;
        width: span(40%);
        float: right;
    }
}

.site-header-search {
    @include span(12);

    text-align: center;

    @include susy-media($large) {
        display: inline-block;
        width: span(33%);
        float: right;
    }
}

.search-inner {
    position: relative;
}

.search-box {
    width: span(12);
    padding: 0 0 1.5rem 0;
    position: relative;

    button {
        background: none;
        border: none;
        outline: none;
        position: absolute;
        right: 0.65rem;
        bottom: 0.5rem;
        padding: 0.1rem;
    }

    .fa-search {
        color: rgba(183, 179, 179, 1);
    }

    @include susy-media($medium) {
        @include span(6 of 12);

        @include pre(3);

        .fa-search {}
    }


    @include susy-media($large) {
        @include span(12);
    }
}

/*--------------------------------------------------------------
# Message Banner
--------------------------------------------------------------*/

.notify-banner {
    @include span(full);

    padding: 3rem 0;
    background: $deep-purple-trans;
    color: white;
    margin-bottom: 2.5rem;
    display: none;
    font-size: 1.25rem;
}

.banner-message {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 0 3rem;
    font-weight: 300;

    .bolded-message {
        font-weight: 600;
    }

    .fa-close {
        font-size: 1.25rem !important;
        cursor: pointer;
        display: block;
    }

    @include susy-media($medium) {
        .fa-close {
            display: block;
        }
    }


    @include susy-media($large) {
        @include container;

        .fa-close {
            float: right;
            font-size: 1.25rem !important;
            cursor: pointer;
        }
    }
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.site-hero {
    margin-bottom: 2rem;

    @include susy-media($medium) {
        margin-bottom: 2.5rem;
    }
}

.hero-inner {
    @include span(12);

    height: 360px;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.21);

    .hero-left {
        @include span(12);

        @include susy-media($medium) {
            @include span(5 wide of 12);
        }


        height: 100%;

        .hero-button {
            height: 90px;
            font-size: 0.9rem;
            line-height: 90px;
            padding: 0 0 0 2rem;
            color: white;
            font-weight: 600;
            font-family: 'Raleway', sans-serif;
            background: $deep-purple-trans;

            a {
                color: white;
                text-transform: uppercase;
            }

            a:hover,
            a:focus,
            a:active {
                color: white;
            }

            @include span(full);

            @include susy-media($medium) {
                font-size: 1.1rem;
            }


            @include susy-media($medium) {
                font-size: 1.25rem;
            }
        }

        .top-btn {
            background: $deep-purple-trans;
        }

        .middle-btn {
            background: $perry-winkle-trans;
        }

        .second-mid-btn {
            background: $charm-blue-trans;
        }

        .bottom-btn {
            background: $light-gray;
        }
    }
}

.home .hero-inner {
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-interior-inner {
    @include span(12);

    height: 70px;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.21);
    font-size: 1.75rem;
    line-height: 62px;
    color: white;
    font-weight: 600;
    background: $perry-winkle;

    h1 {
        padding: 0;
        margin: 0;
        color: white;
        display: inline;
        font-size: 1rem;
    }

    @include susy-media($medium) {
        height: 194px;
        border-radius: 8px;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.21);
        font-size: 1.75rem;
        line-height: 194px;
        color: white;
        font-weight: 600;

        h1 {
            font-size: 1.75rem;
        }
    }


    @include susy-media($large) {
        height: 194px;
        border-radius: 8px;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.21);
        font-size: 1.75rem;
        line-height: 194px;
        color: white;
        font-weight: 600;
    }
}

.inner-div {
    height: 100%;
}

.about-us-gradient {
    padding-left: 2.5rem;
    height: 100%;
}

/*--------------------------------------------------------------
# Front Page Content
--------------------------------------------------------------*/

.front-post-container {
    @include span(12);
}

.front-post-container {
    margin-bottom: 2.5rem;
}

.front-thumb {
    @include span(12);

    img {
        max-width: 100% !important;
        border-radius: 8px;
        height: 220px;
    }

    @include susy-media($medium) {
        @include span(3 wide of 12 first);

        img {
            max-width: 98% !important;
            border-radius: 8px;
            height: 160px;
        }
    }


    @include susy-media($large) {
        width: span(22%);
        float: left;
        margin-right: 1rem;
        height: 160px;

        img {
            width: 98%;
            border-radius: 8px;
            height: 160px;
        }
    }
}

.front-post-content {
    @include span(12);

    padding-right: 3rem;

    a {
        color: $perry-winkle;
    }

    p:nth-child(2) {
        margin: 0 0 0.5rem 0 !important;
        padding: 0 !important;
    }

    h2 {
        margin-top: 1.5rem;
        font-size: 1.425rem;
        line-height: 1.75rem;

        a {
            color: $perry-winkle;
        }
    }

    .readmore {
        padding: 0;
        margin: 0;

        a {
            color: $perry-winkle !important;
        }
    }

    @include susy-media($medium) {
        width: span(8);

        h2 {
            margin-top: 0;
        }
    }


    @include susy-media($large) {
        width: span(9);

        h2 {
            margin-top: 0;
            margin-bottom: 0.75rem;
        }
    }
}

/*--------------------------------------------------------------
# Front Page Read More Style Fixes.
--------------------------------------------------------------*/

.home .panel-grid {
    margin-bottom: 0 !important;
}

.home .panel-grid .siteorigin-widget-tinymce p {
    margin-bottom: 0.75rem !important;
}

/*--------------------------------------------------------------
# Primary Content Area
--------------------------------------------------------------*/

.site-primary-content-area {
    @include span(12);
}

.primary {
    @include span(12);

    @include susy-media($large) {
        @include span(8 wider of 12 first);

        min-height: 550px;
    }


    background: white;
    padding: 1.5rem 2rem 1.5rem;
    border-radius: 6px;

    li {
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 1rem;

        i {
            color: $perry-winkle;
            margin-bottom: 1rem;
        }
    }
}

.primary article {}

.category article {
    padding: 1rem 0 1.5rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.category article:last-child {
    border-bottom: none;
}

.entry-summary {
    p:nth-child(1) {
        padding: 1rem 0 0.5rem 0;
        margin: 0;
    }

    p:nth-child(2) {
        padding: 0;
        margin: 0;
    }

    a {
        color: $perry-winkle;
        font-weight: 400;
        font-size: 0.87rem;
    }
}

.hentry {
    margin: 0 !important;
}

.entry-header,
.entry-content,
.entry-footer,
.posts-navigation {
    a {
        color: $perry-winkle;
    }
}

.financial-wisdom-search-intro {
    font-size: 0.9rem;
    color: #908c90;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.smaller-input {
    width: 50%;
    margin-bottom: 1rem;
}

.content-image {
    @include span(12);

    @include susy-media($large) {
        @include span(2 of 8 nested);

        margin-left: 0;
    }
}

.content-title {
    @include span(12);

    @include susy-media($large) {
        @include span(6 of 8 last nested);
    }
}

.lower-content {
    @include span(12);

    h2 {
        font-size: 1.425rem;
        line-height: 2rem;

        @include susy-media($large) {
            line-height: inherit;
        }
    }

    h3 {
        font-size: 1.425rem;
    }
}

.content-left-column {
    @include span(12);

    @include susy-media($medium) {
        @include span(4 of 8 nested);
    }


    h3 {
        font-size: 1.25rem;
    }
}

.content-right-column {
    @include span(12);

    @include susy-media($medium) {
        @include span(4 of 8 last nested);
    }


    h3 {
        font-size: 1.25rem;
    }
}

.content-full-column {
    @include span(12);

    margin: 1.5rem 0;
}

.content-author-image {
    border-radius: 6px;
    overflow: hidden;
    width: 125px;
    height: 125px;
    float: left;
}

.content-author-info {
    float: left;
    width: span(75%);
    padding: 1.5rem 0 0 0;

    h1 {
        line-height: 2.2rem;
        font-size: 1.55rem;
    }

    @include susy-media(595px 767px) {
        padding: 0 0 0 1rem;
    }


    @include susy-media($medium) {
        padding: 0 0 0 1rem;
    }


    @include susy-media($large) {
        padding: 0 0 0 1rem;
    }


    h1 {
        margin: 0;
        padding: 0 0 0.5rem 0;
    }
}

.topics {
    h4 {
        margin: 0;
        padding: 0 0 1rem 0;
    }

    a {
        color: $deep-purple;
        font-size: 1.1rem;

        //padding-left: 1.5rem;
        &:after {
            content: "\f105";
            font-family: FontAwesome;
            padding-left: 0.75rem;
        }
    }
}

.your-goals-our-solutions h2,
.your-goals-our-solutions h3 {
    line-height: 1.45rem;
}

.content-call-out {
    @include span(12);

    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0.9rem;
    font-size: 0.89rem;
    margin-bottom: 1.5rem;

    @include susy-media($medium) {
        width: 34.67797%;
        float: right;
        margin-top: 1rem;
        margin-left: 1rem;
    }


    ul {
        color: $perry-winkle;
        font-weight: 500;
        margin: 0.5rem 0 0.5rem 1.5rem;

        li {
            padding-bottom: 0.3rem !important;
            margin-bottom: 0 !important;
            margin-bottom: 0 !important;

            &:last-child {
                padding-bottom: 0;
            }
        }

        li i {
            color: $deep-purple;
        }
    }
}

.lets-talk {
    color: $deep-purple !important;
}

.lets-talk,
.get-started-link {
    font-weight: 600;
    text-transform: inherit;
}

#accordion div {
    padding: 0;

    .get-started-link {
        font-weight: 600;
    }

    li {
        margin-bottom: 1rem;

        i {
            color: $perry-winkle;
            margin-bottom: 1rem;
        }
    }
}

#accordion h3 {
    cursor: pointer;
    outline: 0 !important;
    margin: 0;
    padding: 1.1rem 0;
    border-bottom: 2px solid rgba(243, 243, 243, 0.2);

    @include susy-media(0 400px) {
        line-height: 1.8rem;
        font-size: 1.2rem;
    }


    &:last-child {
        border-bottom: none;
    }

    i {
        margin-left: .5rem;
        -webkit-transition: all 300ms ease-in 0s;
        -moz-transition: all 300ms ease-in 0s;
        -o-transition: all 300ms ease-in 0s;
        transition: all 300ms ease-in 0s;
    }
}

.ui-accordion-header:focus {
    outline: none;
}

.ui-state-active i {
    outline: 0 !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.contact-form {
    .frm_error_style {
        color: red;
        font-weight: 600;
        padding-left: 0.75rem;
    }
}

.contact-form fieldset {
    border: none;

    .frm_form_field {
        margin-bottom: 1rem;
    }

    .frm_error_style,
    .frm_error {
        color: red;
    }

    .frm_error {
        font-size: 0.9rem;
    }

    .contact-btn {
        width: 30%;
        padding: 1.25rem;
        font-size: 1.25rem;
    }
}

.advisor-intro {
    .pres-title {
        font-weight: 500;

        span {
            color: $perry-winkle;
        }
    }

    .pres-intro {
        font-size: 0.9rem;
    }
}

.glossary-tooltip-item {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0;
}

.post-type-archive-glossary {
    h2 {
        font-size: 1.25rem;
        text-transform: inherit;
    }
}

.article-disclosure {
    font-style: italic;

    @include span(12);

    margin-bottom: 1.5rem;
}

a.prev,
a.next {
    color: $perry-winkle;
    font-weight: 500;
    font-size: 0.9rem;
}

.prev-next {
    @include span(12);
}

a.prev {
    display: inline-block;
    padding-right: 1rem;
}

a.next {
    float: right;
}

.add-line-height {
    line-height: 1.9rem;
}

.sup-sm {
    font-size: 0.75rem;
    position: relative;
    top: -10px;
}

.page-title {
    line-height: 2rem;
}

/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
.page-content {
    a {
        color: $deep-purple;
    }

    ul {
        padding: 0;
        margin: 0 0 1.5rem 2rem;
    }
}

/*--------------------------------------------------------------
# Sign Up Widget
--------------------------------------------------------------*/
.sidebar {
    @include span(12);

    font-family: 'Raleway', sans-serif;

    @include susy-media($large) {
        @include span(3 wider of 12 last);

        margin-right: 0;
    }
}

/* Sidebar Widgets
--------------------------*/
.sidebar-get-started,
.sidebar-signup {
    @include span(12);
}

.sidebar-get-started {}

.sidebar-signup {
    text-align: center;
    margin: 2rem 0;

    h2 {
        color: $charm-blue;
        font-size: 0.95rem;
        margin-bottom: 0;
    }

    /*fieldset {
        padding: 0 !important;
        border: none;
    }*/
}

.sidebar-signup-link {
    @include span(12);

    font-size: 1.25rem;
    padding: 2.5rem 1rem;
    font-weight: 700;
    color: #666;
    text-align: center;
    text-transform: uppercase;

    a {
        color: #666;
    }

    a:visited {
        color: #666;
    }
}

/* Completetly Removed :(

.sidebar-input {
    @include span(9 of 12);
}

.sidebar-submit {
    @include span(3 of 12 last);
}*/
.featured-image {
    @include span(12);

    margin: 0;
    padding: 0;
}

.simple-text {
    font-family: 'Century Gothic W01 Bold';
}

.president-text {
    font-size: 0.93rem;
    line-height: 1.25rem;
}

.page-about-us .quote {
    margin: 2rem 0;
}

.quote {
    @include span(12);

    position: relative;
    margin: 1rem 0;

    p:nth-child(1) {
        font-size: 0.93rem;
        padding: 0;
        color: $deep-purple;
        margin-bottom: 0.25rem;
    }

    p:nth-child(2) {
        margin: 0;
        padding: 1rem 0 .3rem 0;
        text-align: right !important;
        color: $perry-winkle;
        font-weight: 500;
    }

    p:nth-child(3) {
        margin: 0;
        padding: 0;
        text-align: right !important;
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
}

.quote blockquote {
    display: block;
    padding-left: 22px;
    position: relative;
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin-right: 0;
}

.quote blockquote:before {
    content: "\201C";
    font-size: 4rem;
    font-weight: bold;
    color: #999;
    font-family: Georgia, serif;
    position: absolute;
    left: -20px;
    top: 12px;

    /*Unicode for Left Double Quote*/
}

.quote blockquote:after {
    content: "";

    /*Unicode for Left Double Quote*/
}

.category-financial-wisdom .sidebar-white-call > a:last-child {
    display: none;
}

.sidebar-white-call {
    background: white;

    @include span(12);

    border-radius: 8px;
    padding: 1.25rem;

    h2 {
        font-size: 600;

        a {
            color: $deep-purple;

            &:hover {
                color: $perry-winkle;
            }
        }
    }

    > a:last-child {
        font-weight: bold;
        display: block;
        padding: 0.5rem;
        font-size: 0.85rem;
        border-radius: 6px;
        background: #30235e;
        margin: 1rem auto;
        text-align: center;
        color: white;
        transition: 0.1s linear 0.1s;

        &:hover {
            color: white;
            background: $perry-winkle;
        }
    }
}

//Goals sidebar list
.goals-sidebar-list {
    h2 {
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        text-align: left;
        color: $deep-purple;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0.9rem;
        font-weight: 400;

        li {
            padding: 0.2rem 0;
        }

        a {
            color: #555;

            &:first-child {
                font-weight: 700;
            }

            &:hover {
                color: $perry-winkle;
            }

            &:before {
                content: " | ";
                font-weight: bold;
                color: $perry-winkle;
            }

            &:after {
                content: "\f105";
                font-family: FontAwesome;
                padding-left: 0.75rem;
            }
        }
    }

  /* We need to fake a heading here because the
   plugin generates the parent page title
   > ul > li > a, &:after this is testing
   lets see if this works
*/
    > ul > li > a {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $deep-purple;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        display: block;
        line-height: 2rem;
        font-weight: 400;

        &:before {
            content: '';
        }

        &:after {
            content: "";
        }
    }
}

//Financial Wisdom category content-call-out
.financial-sidebar-cat {
    margin-bottom: 1.5rem;

    h2 {
        font-size: 1.43rem;
        margin: 0;
        padding: 0.65rem 0 1.7rem 0;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }

    ul {
        padding: 0;
        margin: 0 0 0 18px;
        list-style-image: url("img/carrots.png");

        li {
            border-bottom: none;
        }

        a {
            color: $deep-purple;
            font-weight: bold;
            font-size: 0.85rem;

            &:hover {
                color: $perry-winkle;
            }
        }

        .cat-post-item {
            padding: 0 0 0.75rem 0;
            margin: 0;
            list-style: inherit;
            list-style-type: inherit;
            line-height: 1.1rem;
        }

        .cat-post-item:before, .cat-post-item:after {
            content: "";
            display: none !important;
            clear: both;
        }
    }
}

.category-financial-wisdom article {
    padding: 0;
    margin: 0;

    h2 {
        margin: 0;
        padding: 1rem 0;
    }
}

.category-be-informed article h2 {
    margin-bottom: 1rem;
}

.cat-post-item .cat-post-current {
    text-transform: inherit !important;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.wp-paginate {
    margin: 1.5rem 0 !important;

    a {
        background: none !important;
        border: none !important;
        color: #999 !important;
        margin-right: 4px;
        padding: 4px 8px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
    }

    .current {
        color: $perry-winkle !important;
        background: none !important;
        border-bottom: 4px solid $perry-winkle !important;
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        margin-right: 4px;
        padding: 4px 8px;
    }

    .next {
        float: none !important;
    }
}

/*--------------------------------------------------------------
# Signup Row
--------------------------------------------------------------*/
.signup-row {
    @include span(full);

    padding: 1.75rem 0;
    font-family: 'Raleway', sans-serif;
    background: $deep-purple;

    .frm_ajax_loading {
        display: none;
    }
}

.signup-inner {
    @include container;

    padding: 0 1.5rem;

    @include susy-media($large) {
        padding: 0;
    }


    color: #fff;
    text-align: center;
    font-size: 1.35rem;

    a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;

        &:after {
            content: "\f105";
            font-family: FontAwesome;
            padding-left: 0.75rem;
        }
    }

    /* Completely Removed Form :(

   fieldset {
        border: none !important;
        padding: 0 !important;
    }

    .frm_error_style,
    .frm_error {
        font-size: 0.85rem;
        color: red;
    }

    @include susy-media($large) {
        padding: 0;
    }
}

.newsletter-text {
    font-size: 1.2rem;
    padding: 0.5rem 0;

    @include susy-media($large) {
        @include span(5 of 12 first);

        padding: 1rem 0;
        text-align: center;
    }
}

.newsletter-input {
    @include span(12);

    font-size: 24px;
    padding: 0.5rem 0;

    @include susy-media($medium) {
        @include span(8 of 12);

        @include pre(2);
    }


    @include susy-media($large) {
        @include span(5 of 12);

        @include pre(0);
    }
}

.newsletter-submit {
    font-size: 24px;
    padding: 0.5rem 0;

    @include span(10 of 12);

    @include pre(1);

    @include susy-media($medium) {
        @include span(4 of 12);

        @include pre(4);
    }


    @include susy-media($large) {
        @include span(1 of 12);

        @include pre(0);
    }
    */
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
    @include span(full);

    padding: 2rem 0 0 0;
    background: $dark-gray;
}

.colophon {
    @include container;

    //padding: 0 1rem 2rem 1rem;
    color: #CCC;
    font-size: 0.9rem;
    padding: 0 1.5rem;
}

.copyright {
    width: span(full);
    padding: 1.5rem 0;
    border-top: 1px solid rgba(81, 79, 79, 0.39);

    p {
        @include container;

        font-size: 0.85rem;
        text-align: center;
        padding: 0;
        margin-bottom: 0;
    }
}

.jemma-footer-widget {
    @include span(12);

    @include nth-last(3);

    line-height: 1.5rem;

    a {
        color: #ccc;
    }

    p {
        padding: 0;
        color: #ccc;
    }

    h5 {
        padding: 1.5rem 0;
        margin: 0;
        color: $charm-blue;
        font-weight: 500;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    @include susy-media($large) {
        @include span(4 of 12);

        @include nth-last(3);
    }
}

.your-goals-footer {
    ul .page-item-22 {
        padding: 1.5rem 0;
        margin: 0;

        .children {
            margin-top: 1.5rem;
        }
    }

    ul .page-item-22 > a {
        font-size: 1.125rem;
        line-height: 1.066rem;
        color: $charm-blue !important;
        font-family: 'Raleway', sans-serif;
    }
}

.contact-us-footer {
    @include susy-media($large) {
        padding-left: 5.25rem;
    }
}

.financial-wisdom-footer {
    ul {
        li {
            border-bottom: 1px solid rgba(204, 204, 204, 0.13) !important;

            &:last-child {
                border-bottom: none !important;
            }
        }
    }

    .cat-post-current .cat-post-title {
        font-weight: normal;
        text-transform: inherit;
    }
}

/*--------------------------------------------------------------
# Popup
--------------------------------------------------------------*/
#signup-popup {
    background: $charm-blue !important;
    max-width: 780px !important;
}

#get-started-popup,
#leaving-popup,
#leaving-popup2,
#leaving-popup3,
#leaving-popup4,
.popup,
#signup-popup {
    max-width: 675px;
    margin: 20px auto;
    border-radius: 8px;
    background: $pink;
    position: relative;

    .frm_html_container {
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
        padding: 0;
        color: #30235e;
        font-weight: 600;
        line-height: 1.053rem;
        text-transform: uppercase;
    }

    .or {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
        color: #30235e;
        font-weight: 400;
    }

    .frm_section_heading h3 {
        text-align: center;
        border-top: 0 !important;
        color: $deep-purple;
        padding: 1rem 0;
    }

    h4 {
        font-size: 1.1rem;
        margin: 0 0 1rem 0;
        padding: 0;
        color: #30235e;
        font-weight: 300;
        text-transform: inherit;
    }

    .close {
        top: 1rem;
        position: absolute;
        right: 0.75rem;
        margin-right: 0.5rem;
        color: #30235e !important;
        cursor: pointer;
        z-index: 900;

        a {
            color: #30235e !important;
        }
    }

    .get-started-form {
        padding: 1.5rem;
        width: 100%;

        p {
            color: white;
            text-align: center;
            font-size: 0.9rem;

            a {
                color: white;
            }
        }
    }

    input[type="submit"] {
        border: none;
    }

    #field_abx5k,
    #field_5631c {
        color: #999;
    }

    .frm_submit {
        width: 130px;
        margin: auto;
        padding-top: 1.5rem;
    }

    .frm_checkbox label {
        color: white;
        font-size: 0.85rem;
    }

    .popup-submit {
        background: $deep-purple;
        padding: 0.5rem 1rem;
        border: none;
        color: white;
        margin: auto !important;
        width: 130px;
    }

    .push-right-large {
        @include susy-media($medium) {
            margin-left: 10rem;
        }
    }

    .push-right {
        @include susy-media($medium) {
            margin-left: 6rem;
        }
    }

    .push-right-half {
        @include susy-media($medium) {
            margin-left: 5rem;
        }
    }

    .bordered-left {
        @include susy-media($medium) {
            border-left: 1px solid rgba(255, 255, 255, 0.4);
            padding-left: 2.5rem;
        }
    }

    .schwab-account-button {
        width: 57.62712%;
        border-radius: 8px;
        margin: auto;
        background: #30235e;
        color: #FFF;
        text-transform: uppercase;
        padding: 0.75rem 1rem;
        margin-top: 1rem;
        border-radius: 8px;
        margin: auto;
        background: #30235e;
        color: #FFF;
        text-transform: uppercase;
        padding: 0.75rem 1rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        a {
            color: white;
        }
    }

    .frm_message {
        font-size: 1.5rem;
        color: white !important;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        background: none;
        border: none;

        p {
            color: white;
            font-size: 1.5rem;
        }
    }
}

.contact-form {
    #field_abx5k2 {
        color: #999;
    }

    .frm_section_heading h3 {
        color: $deep-purple !important;
        padding: 0.75rem 0 0.5rem 0 !important;
        border-top: none !important;
    }

    input[type="submit"] {
        background: $deep-purple !important;
        padding: 0.5rem 1rem !important;
        border: none;
        color: white !important;
        width: 130px;
    }
}

#leaving-popup,
.popup,
#leaving-popup2,
#leaving-popup3,
#leaving-popup4 {
    .leaving-info {
        position: relative;
        width: 100%;
        margin: auto;
        min-height: 180px;
        padding: 0.75rem 2rem;

        h3 {
            text-align: center;
            position: relative;
            top: 21px;
            color: white;
            margin-bottom: 3rem;
            margin-top: 0;
            line-height: 1.75rem !important;
        }

        a {
            display: block;
            margin: auto;
            padding: 0.5rem 1rem;
            text-align: center;

            &:hover {
                color: #fff;
            }
        }

        .warning-button {
            max-width: 55%;
            margin-bottom: 1rem;
        }
    }
}

#leaving-popup2 {
    background: white;
    -webkit-box-shadow: -6px 1px 18px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -6px 1px 18px -2px rgba(0, 0, 0, 0.25);
    box-shadow: -6px 1px 18px -2px rgba(0, 0, 0, 0.25);

    .leaving-info {
        h3 {
            color: $deep-purple !important;
        }
    }

    p {
        color: black;
    }

    .notice {
        font-weight: bold;
        margin-top: 3rem;
    }
}

.signup-popup-form,
.get-started-form {
    h2 {
        line-height: 2rem !important;
    }
}

.video-resize {}

/*--------------------------------------------------------------
# SO PB Plugin Edits
--------------------------------------------------------------*/
#pl-30 .panel-grid-cell .so-panel {
    margin-bottom: 0px !important;
}

/*--------------------------------------------------------------
# Carousel Plugin Edits
--------------------------------------------------------------*/

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
    list-style: none;
    margin-left: 0;
    padding: 0;
    display: block;
    float: left;
    margin-right: 15px;
    width: 200px !important;
    height: 240px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
    display: block;
    width: 235px !important;
    height: 170px !important;
    background-size: 235px 170px !important;
    background-position: center center;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: $deep-purple !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail {
    border-radius: 8px !important;
    overflow: hidden;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail .overlay {
    border-radius: 8px;
    width: 200px !important;
    height: 170px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a, .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
    /* -webkit-transition: all 0.35s ease; */
    -moz-transition: none;
    -o-transition: none;

    /* transition: all 0.35s ease; */
}

.sow-carousel-title a.sow-carousel-next, .sow-carousel-title a.sow-carousel-previous {
    font-family: 'carousel-arrows';
    speak: none;
    display: block;
    float: right;
    overflow: hidden;
    margin-left: 2px;
    margin-top: 3px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 15px !important;
    line-height: 18px;
    width: 18px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    color: $perry-winkle !important;
    background: none !important;
    border-radius: 2px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}