<h2>IT ALL STARTS WITH A SAVINGS PLAN</h2>
Living paycheck-to- paycheck may allow you to pay your rent and buy your groceries, but to meet longer-term financial needs, you may want to budget for savings. Jemma Financial can be a valuable resource for you, whether you want to save for retirement, afford college expenses for a child, or build a down payment for a home. Or maybe you want to develop a monthly cushion and achieve greater financial peace of mind. At Jemma, we can help.

Click the links below to learn more.
<div id="accordion">
	<div class="accordianheader">
		<h3>FIRST JOB, FIRST BUDGET  <i class="fa fa-angle-right"></i></h3>
	</div>
	<div>
		Congratulations on starting your first full-time job! If you are living on your own for the first time, you’ll find you have monthly expenses including rent, utility bills, and possibly a car payment or college loan payments. These are necessary expenses, as opposed to discretionary items such as going to a movie with friends on the weekend.
		
		The idea is to set aside money for your future by starting with a small, manageable amount of money such as $25, $50 or $100 a week. The key is to start as early as possible and watch your savings grow. Budgeting for savings often requires some financial discipline, which may mean considering ways to cut back. For example, brew coffee in your kitchen instead of making a daily trip to the local cafe. Little changes can make big differences over time.
		A budget can help you understand how best to spend and save your income—no matter how much you make. Jemma Financial can help you develop a personalized budget that fits you and your future dreams. Let’s talk.
		
		<a class="get-started-link" href="#">Click here to get started.</a>
		
	</div>
	<!--end accordion section-->
	<div class="accordianheader">
		<h3>DEVELOPING A FAMILY BUDGET <i class="fa fa-angle-right"></i></h3>
	</div>
	<div>
		Becoming a parent with children of your own comes with additional expenses. In fact, the U.S. Department of Agriculture found that middle-income families could spend as much as nearly $250,000 to raise a child from birth to 18 years.
		It’s obvious that housing, food, transportation, clothing, education, health care and dental expenses add up. And this amount doesn’t include college tuition costs.

		Budgeting for these expenses often provides greater peace of mind and puts you in control of life’s financial challenges. At Jemma, we can help. Let’s talk.
		
		<a class="get-started-link" href="#">Click here to get started.</a>
		
	</div>
	<!--end accordion section-->
	<div class="accordianheader">
		<h3>ENJOYING RETIREMENT  <i class="fa fa-angle-right"></i></h3>
	</div><!--End Accordion Header-->
		<div>
			
			When retired, many women live on income from Social Security, distributions from retirement accounts or payments from pension plans. Living on a “fixed income” may mean that women need to have tighter control over expenses.

			While some discretionary spending can be easily curtailed, often, many expenses are unexpected. Roof repairs on your house, higher real estate taxes, increased health care costs, or simply rising inflation can put a dent in your budget.

			In addition, some retirees find it easy to spend on hobbies, traveling and recreation during the early retirement years. However, you don’t want these early years to deplete your overall retirement savings that you’ll need years in the future.

			At Jemma, we can help you develop a personalized budget so you can enjoy your retirement years and have greater peace of mind. Let’s talk.

			<a class="get-started-link" href="#">Click here to get started.</a>
			
		</div>
		<!--end accordion section-->
		
		<div class="accordianheader">
			<h3>ON YOUR OWN <i class="fa fa-angle-right"></i></h3>
			</div><!--End Accordion Header-->
			<div>
				Today, women are more likely to be single again by becoming a widow or getting divorced compared to the previous generation. If you find yourself in a significant life transition of living on your own, you may discover a new set of budget challenges.
				After divorce or being widowed can change your sources of income. Monthly expenses also can change including housing, food and transportation. And you still want to keep reaching for those longer term financial goals such as saving for retirement.
				A budget can help. Developing a detailed budget can help you better understand your current financial situation so you can figure out ways to manage and save—no matter your sources of income. Jemma Financial can help you develop a personalized budget that fits you and your future dreams. Let’s talk.
				
				<a class="get-started-link" href="#">Click here to get started.</a>
			</div>
			<!--end accordion section-->
			
</div><!--End Accordion-->