<div class="content-image"><img class="size-thumbnail wp-image-170 alignleft" src="http://localhost/jemmafinancial/wp-content/uploads/2016/08/jemma-bonnie-stein.jpg" alt="jemma-bonnie-stein" width="150" height="150" /></div>
<div class="content-title"><span class="purple-text large-title-text">Bonnie B. Stein</span>
<span style="color: #757575;"><strong>President &amp; CEO</strong></span>
    
    Ms. Stein is CEO and co-founder of Jemma Financial Services, LLC, and has over 30 years of experience within all areas of the banking and investment management industry.

</div>