/*
Theme Name: Jemma Financial
Theme URI: http://underscores.me/
Author: Lance
Author URI: #
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: jemma_fin
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Jemma Financial is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Imports
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/
.lance {
  width: 200px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Imports & Susy Set Grid Elements and Variables
--------------------------------------------------------------*/
@font-face {
  font-family: 'jemma-financial-icons';
  src: url("fonts/jemma-financial-icons.eot?rnvbtm");
  src: url("fonts/jemma-financial-icons.eot?rnvbtm#iefix") format("embedded-opentype"), url("fonts/jemma-financial-icons.ttf?rnvbtm") format("truetype"), url("fonts/jemma-financial-icons.woff?rnvbtm") format("woff"), url("fonts/jemma-financial-icons.svg?rnvbtm#jemma-financial-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jemma-financial-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jemma-financial-arrow-right:before {
  content: "\e903";
  position: relative;
  top: 1px;
}

.icon-jemma-financial-bullseye:before {
  content: "\e900";
  font-size: 1.5rem !important;
  position: relative;
  top: 3px;
}

.icon-jemma-financial-chair:before {
  content: "\e901";
  font-size: 1.5rem !important;
  position: relative;
  top: 3px;
}

.icon-jemma-financial-grad:before {
  content: "\e902";
  font-size: 1.5rem !important;
  position: relative;
  top: 3px;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: white;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-iframe-scaler .mfp-close {
  color: #30235e !important;
  opacity: 1 !important;
  /*color: white !important;
    
    right:0 !important;
    width: 3% !important;
    height: 30px !important;
    padding:0 !important;
    line-height: 0 !important;
    text-align: center !important;*/
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
         * Remove all paddings around the image on small screen
         */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

/*@mixin linearGradient($top, $right) {
    background: $top;
    background: -moz-linear-gradient(top, $top 71%, $right 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(71%, $top), color-stop(80%, $right));
    background: -webkit-linear-gradient(top, $top 71%, $right 80%);
    background: -o-linear-gradient(top, $top 71%, $right 80%);
    background: -ms-linear-gradient(top, $top 71%, $right 80%);
    background: linear-gradient(to right, $top 71%, $right 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 100%;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #666;
  font-weight: 500;
}

body,
button,
input,
select,
textarea {
  color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #aa67a9;
  font-family: 'Raleway', sans-serif;
  text-transform: inherit;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0;
}

p {
  color: #777;
}

h1 {
  font-size: 1.802rem;
  line-height: 0.998rem;
}

.single-post h1.entry-title {
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.posted-on {
  margin-bottom: 1.5rem;
  display: block;
}

h2 {
  font-size: 1.602rem;
  line-height: 1.029rem;
}

h2.entry-title {
  line-height: 2rem;
  margin-bottom: 0rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.424rem;
  line-height: 1.053rem;
}

h4 {
  font-size: 1.266rem;
  line-height: 1.066rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.066rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1.5rem 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5rem;
}

address {
  margin: 0 0 1.5rem;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.purple-text {
  color: #aa67a9;
}

.deep-purple-text {
  color: #30235e;
}

.blue-text {
  color: #6281c0;
}

.small-title-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.small-title-text + p {
  /*padding-top: 0;
        margin-top: 0.75rem;*/
}

.large-title-text {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.large-title-text + p {
  /*padding-top: 0;
        margin-top: 0.75rem;*/
}

/*--------------------------------------------------------------
# Glossary
--------------------------------------------------------------*/
.glossaryList {
  list-style: none;
}

#ttcont {
  display: block;
  padding: 2rem;
  margin-left: 5px;
  background: rgba(48, 35, 94, 0.95);
  color: white;
}

#ttcont a {
  color: white;
}

#ttcont a:hover {
  color: white;
}

.cminds_poweredby {
  display: none !important;
}

.goback-baby {
  color: #aa67a9 !important;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem;
}

ul,
ol {
  margin: 0 0 1.5rem 3rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5rem 1.5rem;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5rem;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.btn-ctrl {
  line-height: .875rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  width: 100%;
  font-size: 0.75rem;
  color: white;
  text-transform: uppercase;
}

.regular-btn {
  padding: 1rem;
  width: 50%;
}

.blue {
  background: #6281c0;
  color: white;
  border-color: #2f5b8a;
}

.deep-purple {
  background: #30235e;
  color: white;
}

.purple {
  background: #aa67a9;
  color: white;
}

.already-submitted {
  font-size: 1.5rem !important;
  font-weight: 600;
}

/* Rounder Button
-------------------------------*/
.jem-app-button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem .75rem;
  font-size: 20px;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}

.jem-app-button:hover {
  color: white;
}

/* Less Rounder Button
-------------------------------*/
.jem-alt-app-button {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.jem-alt-app-button:hover {
  color: white;
}

.jem-alt-app-button:visited {
  color: white;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  border-radius: 6px;
  font-size: 0.85rem;
  line-height: 1;
  padding: 0.55rem 1rem;
  background: #aa67a9;
  color: white;
  font-weight: 600;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  /* border-color: #aaa #bbb #bbb;
     box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);*/
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="tel"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 3px;
  width: 100%;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

select {
  border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #aa67a9;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover,
a:focus,
a:active {
  color: #30235e;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus nth-hour menu change / to mega menu
--------------------------------------------------------------*/
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  padding: 1rem;
}

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 1rem;
  background: #aa67a9;
  border-radius: 6px;
}

.menu > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu > li > a {
  color: white;
  padding: 0.5rem 0;
  margin: 0;
  width: 100%;
  display: block;
  text-decoration: none;
}

.menu > li:last-child {
  border-bottom: none;
}

.menu .sub-menu {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
  display: block;
}

.menu .sub-menu li {
  padding: 0.3rem 1rem;
}

.menu .sub-menu li a {
  color: white;
  text-decoration: none;
}

.menu .sub-menu li:first-child {
  padding-top: 0;
}

.menu .sub-menu li:last-child {
  border-bottom: none;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
  .main-navigation {
    clear: both;
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    margin: 2rem 0 1rem 0;
  }
  .menu {
    position: relative;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
    border-radius: 6px;
    display: table;
    font-size: 0.95rem;
  }
  .menu > li {
    border-bottom: none;
    float: left;
    display: table-cell;
    padding: 0;
    width: 23.5%;
    text-align: center;
  }
  .menu > li > a {
    color: #333;
    padding: 0.5rem 0;
    margin: 0;
    text-decoration: none;
  }
  .menu > li:nth-child(1) {
    width: 15%;
    text-align: left;
  }
  .menu > li:nth-child(2) {
    width: 28%;
  }
  .menu > li:nth-child(5) {
    width: 10%;
    background: #aa67a9;
    border-radius: 6px;
  }
  .menu > li:nth-child(5) a {
    color: white;
  }
  .menu .sub-menu {
    float: left;
    position: absolute;
    top: 2rem;
    left: -999rem;
    z-index: 99999;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    min-width: 245px;
    background: #f7fafd;
    border-radius: 6px;
    -webkit-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
    box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 0.85rem;
  }
  .menu .sub-menu .col {
    float: left;
    width: 245px;
  }
  .menu .sub-menu li:after {
    content: "\f105";
    font-family: FontAwesome;
    padding-left: 0.3rem;
  }
  .menu .sub-menu li a {
    color: #30235e;
    text-decoration: none;
  }
  .menu .sub-menu li:first-child {
    padding: 0.5rem 1rem .5rem 1rem;
  }
  .menu .sub-menu li:last-child {
    border-bottom: none;
    padding: 0.5rem 1rem .5rem 1rem;
  }
  .menu .sub-menu ul {
    left: -999em;
    top: 0;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: 17%;
  }
}

@media (min-width: 992px) {
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: 20%;
  }
}

.menu ul a {
  min-width: 300px;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 1.5em 0;
  overflow: hidden;
  font-size: 0.85rem;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site-main,
.site-header,
.site-hero {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.site-main:after,
.site-header:after,
.site-hero:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 992px) {
  .site-main,
  .site-header,
  .site-hero {
    padding: 0;
  }
}

.site-main {
  padding-bottom: 2.5rem;
}

.site-header {
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .site-header {
    padding: 2rem 0 1rem;
  }
}

.site-logo {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 16.94915%;
}

@media (min-width: 768px) {
  .site-logo {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .site-logo {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    text-align: left;
    margin-left: 0;
  }
  .site-logo img {
    width: 233px;
    height: 58px;
  }
}

.site-header-actions {
  text-align: center;
  margin-right: 0;
}

@media (min-width: 768px) {
  .site-header-actions {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .site-header-actions {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
}

.site-header-links {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.95rem;
  text-align: center;
  padding-top: 0.5rem;
}

.site-header-links a {
  text-decoration: none;
  color: #aa67a9;
}

.site-header-links a:hover {
  color: #30235e;
}

@media (min-width: 992px) {
  .site-header-links {
    display: inline-block;
    width: 40%;
    float: right;
  }
}

.site-header-search {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

@media (min-width: 992px) {
  .site-header-search {
    display: inline-block;
    width: 33%;
    float: right;
  }
}

.search-inner {
  position: relative;
}

.search-box {
  width: 100%;
  padding: 0 0 1.5rem 0;
  position: relative;
}

.search-box button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 0.65rem;
  bottom: 0.5rem;
  padding: 0.1rem;
}

.search-box .fa-search {
  color: #b7b3b3;
}

@media (min-width: 768px) {
  .search-box {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%;
  }
}

@media (min-width: 992px) {
  .search-box {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/*--------------------------------------------------------------
# Message Banner
--------------------------------------------------------------*/
.notify-banner {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 3rem 0;
  background: rgba(48, 35, 94, 0.95);
  color: white;
  margin-bottom: 2.5rem;
  display: none;
  font-size: 1.25rem;
}

.banner-message {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 0 3rem;
  font-weight: 300;
}

.banner-message .bolded-message {
  font-weight: 600;
}

.banner-message .fa-close {
  font-size: 1.25rem !important;
  cursor: pointer;
  display: block;
}

@media (min-width: 768px) {
  .banner-message .fa-close {
    display: block;
  }
}

@media (min-width: 992px) {
  .banner-message {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-message:after {
    content: " ";
    display: block;
    clear: both;
  }
  .banner-message .fa-close {
    float: right;
    font-size: 1.25rem !important;
    cursor: pointer;
  }
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.site-hero {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .site-hero {
    margin-bottom: 2.5rem;
  }
}

.hero-inner {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 360px;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.21);
}

.hero-inner .hero-left {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-inner .hero-left {
    width: 42.37288%;
    float: left;
    margin-right: 1.66667%;
  }
}

.hero-inner .hero-left .hero-button {
  height: 90px;
  font-size: 0.9rem;
  line-height: 90px;
  padding: 0 0 0 2rem;
  color: white;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  background: rgba(48, 35, 94, 0.95);
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.hero-inner .hero-left .hero-button a {
  color: white;
  text-transform: uppercase;
}

.hero-inner .hero-left .hero-button a:hover,
.hero-inner .hero-left .hero-button a:focus,
.hero-inner .hero-left .hero-button a:active {
  color: white;
}

@media (min-width: 768px) {
  .hero-inner .hero-left .hero-button {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .hero-inner .hero-left .hero-button {
    font-size: 1.25rem;
  }
}

.hero-inner .hero-left .top-btn {
  background: rgba(48, 35, 94, 0.95);
}

.hero-inner .hero-left .middle-btn {
  background: rgba(170, 103, 169, 0.75);
}

.hero-inner .hero-left .second-mid-btn {
  background: rgba(98, 129, 192, 0.75);
}

.hero-inner .hero-left .bottom-btn {
  background: rgba(153, 153, 153, 0.5);
}

.home .hero-inner {
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-interior-inner {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.21);
  font-size: 1.75rem;
  line-height: 62px;
  color: white;
  font-weight: 600;
  background: #aa67a9;
}

.hero-interior-inner h1 {
  padding: 0;
  margin: 0;
  color: white;
  display: inline;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .hero-interior-inner {
    height: 194px;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.21);
    font-size: 1.75rem;
    line-height: 194px;
    color: white;
    font-weight: 600;
  }
  .hero-interior-inner h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  .hero-interior-inner {
    height: 194px;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.21);
    font-size: 1.75rem;
    line-height: 194px;
    color: white;
    font-weight: 600;
  }
}

.inner-div {
  height: 100%;
}

.about-us-gradient {
  padding-left: 2.5rem;
  height: 100%;
}

/*--------------------------------------------------------------
# Front Page Content
--------------------------------------------------------------*/
.front-post-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.front-post-container {
  margin-bottom: 2.5rem;
}

.front-thumb {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.front-thumb img {
  max-width: 100% !important;
  border-radius: 8px;
  height: 220px;
}

@media (min-width: 768px) {
  .front-thumb {
    width: 25.42373%;
    float: left;
    margin-right: 1.66667%;
  }
  .front-thumb img {
    max-width: 98% !important;
    border-radius: 8px;
    height: 160px;
  }
}

@media (min-width: 992px) {
  .front-thumb {
    width: 22%;
    float: left;
    margin-right: 1rem;
    height: 160px;
  }
  .front-thumb img {
    width: 98%;
    border-radius: 8px;
    height: 160px;
  }
}

.front-post-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-right: 3rem;
}

.front-post-content a {
  color: #aa67a9;
}

.front-post-content p:nth-child(2) {
  margin: 0 0 0.5rem 0 !important;
  padding: 0 !important;
}

.front-post-content h2 {
  margin-top: 1.5rem;
  font-size: 1.425rem;
  line-height: 1.75rem;
}

.front-post-content h2 a {
  color: #aa67a9;
}

.front-post-content .readmore {
  padding: 0;
  margin: 0;
}

.front-post-content .readmore a {
  color: #aa67a9 !important;
}

@media (min-width: 768px) {
  .front-post-content {
    width: 66.10169%;
  }
  .front-post-content h2 {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .front-post-content {
    width: 74.57627%;
  }
  .front-post-content h2 {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
}

/*--------------------------------------------------------------
# Front Page Read More Style Fixes.
--------------------------------------------------------------*/
.home .panel-grid {
  margin-bottom: 0 !important;
}

.home .panel-grid .siteorigin-widget-tinymce p {
  margin-bottom: 0.75rem !important;
}

/*--------------------------------------------------------------
# Primary Content Area
--------------------------------------------------------------*/
.site-primary-content-area {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.primary {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: white;
  padding: 1.5rem 2rem 1.5rem;
  border-radius: 6px;
}

@media (min-width: 992px) {
  .primary {
    width: 69.49153%;
    float: left;
    margin-right: 1.63934%;
    min-height: 550px;
  }
}

.primary li {
  margin-bottom: 1rem;
}

.primary li {
  margin-bottom: 1rem;
}

.primary li i {
  color: #aa67a9;
  margin-bottom: 1rem;
}

.category article {
  padding: 1rem 0 1.5rem 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.category article:last-child {
  border-bottom: none;
}

.entry-summary p:nth-child(1) {
  padding: 1rem 0 0.5rem 0;
  margin: 0;
}

.entry-summary p:nth-child(2) {
  padding: 0;
  margin: 0;
}

.entry-summary a {
  color: #aa67a9;
  font-weight: 400;
  font-size: 0.87rem;
}

.hentry {
  margin: 0 !important;
}

.entry-header a,
.entry-content a,
.entry-footer a,
.posts-navigation a {
  color: #aa67a9;
}

.financial-wisdom-search-intro {
  font-size: 0.9rem;
  color: #908c90;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.smaller-input {
  width: 50%;
  margin-bottom: 1rem;
}

.content-image {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 992px) {
  .content-image {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    margin-left: 0;
  }
}

.content-title {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 992px) {
  .content-title {
    width: 74.35897%;
    float: right;
    margin-right: 0;
  }
}

.lower-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.lower-content h2 {
  font-size: 1.425rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  .lower-content h2 {
    line-height: inherit;
  }
}

.lower-content h3 {
  font-size: 1.425rem;
}

.content-left-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .content-left-column {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
}

.content-left-column h3 {
  font-size: 1.25rem;
}

.content-right-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .content-right-column {
    width: 48.71795%;
    float: right;
    margin-right: 0;
  }
}

.content-right-column h3 {
  font-size: 1.25rem;
}

.content-full-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 1.5rem 0;
}

.content-author-image {
  border-radius: 6px;
  overflow: hidden;
  width: 125px;
  height: 125px;
  float: left;
}

.content-author-info {
  float: left;
  width: 75%;
  padding: 1.5rem 0 0 0;
}

.content-author-info h1 {
  line-height: 2.2rem;
  font-size: 1.55rem;
}

@media (min-width: 595px) and (max-width: 767px) {
  .content-author-info {
    padding: 0 0 0 1rem;
  }
}

@media (min-width: 768px) {
  .content-author-info {
    padding: 0 0 0 1rem;
  }
}

@media (min-width: 992px) {
  .content-author-info {
    padding: 0 0 0 1rem;
  }
}

.content-author-info h1 {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.topics h4 {
  margin: 0;
  padding: 0 0 1rem 0;
}

.topics a {
  color: #30235e;
  font-size: 1.1rem;
}

.topics a:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 0.75rem;
}

.your-goals-our-solutions h2,
.your-goals-our-solutions h3 {
  line-height: 1.45rem;
}

.content-call-out {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0.9rem;
  font-size: 0.89rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .content-call-out {
    width: 34.67797%;
    float: right;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

.content-call-out ul {
  color: #aa67a9;
  font-weight: 500;
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.content-call-out ul li {
  padding-bottom: 0.3rem !important;
  margin-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.content-call-out ul li:last-child {
  padding-bottom: 0;
}

.content-call-out ul li i {
  color: #30235e;
}

.lets-talk {
  color: #30235e !important;
}

.lets-talk,
.get-started-link {
  font-weight: 600;
  text-transform: inherit;
}

#accordion div {
  padding: 0;
}

#accordion div .get-started-link {
  font-weight: 600;
}

#accordion div li {
  margin-bottom: 1rem;
}

#accordion div li i {
  color: #aa67a9;
  margin-bottom: 1rem;
}

#accordion h3 {
  cursor: pointer;
  outline: 0 !important;
  margin: 0;
  padding: 1.1rem 0;
  border-bottom: 2px solid rgba(243, 243, 243, 0.2);
}

@media (min-width: 0) and (max-width: 400px) {
  #accordion h3 {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
}

#accordion h3:last-child {
  border-bottom: none;
}

#accordion h3 i {
  margin-left: .5rem;
  -webkit-transition: all 300ms ease-in 0s;
  -moz-transition: all 300ms ease-in 0s;
  -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
}

.ui-accordion-header:focus {
  outline: none;
}

.ui-state-active i {
  outline: 0 !important;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.contact-form .frm_error_style {
  color: red;
  font-weight: 600;
  padding-left: 0.75rem;
}

.contact-form fieldset {
  border: none;
}

.contact-form fieldset .frm_form_field {
  margin-bottom: 1rem;
}

.contact-form fieldset .frm_error_style,
.contact-form fieldset .frm_error {
  color: red;
}

.contact-form fieldset .frm_error {
  font-size: 0.9rem;
}

.contact-form fieldset .contact-btn {
  width: 30%;
  padding: 1.25rem;
  font-size: 1.25rem;
}

.advisor-intro .pres-title {
  font-weight: 500;
}

.advisor-intro .pres-title span {
  color: #aa67a9;
}

.advisor-intro .pres-intro {
  font-size: 0.9rem;
}

.glossary-tooltip-item {
  background: transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0;
}

.post-type-archive-glossary h2 {
  font-size: 1.25rem;
  text-transform: inherit;
}

.article-disclosure {
  font-style: italic;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
}

a.prev,
a.next {
  color: #aa67a9;
  font-weight: 500;
  font-size: 0.9rem;
}

.prev-next {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

a.prev {
  display: inline-block;
  padding-right: 1rem;
}

a.next {
  float: right;
}

.add-line-height {
  line-height: 1.9rem;
}

.sup-sm {
  font-size: 0.75rem;
  position: relative;
  top: -10px;
}

.page-title {
  line-height: 2rem;
}

/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
.page-content a {
  color: #30235e;
}

.page-content ul {
  padding: 0;
  margin: 0 0 1.5rem 2rem;
}

/*--------------------------------------------------------------
# Sign Up Widget
--------------------------------------------------------------*/
.sidebar {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 992px) {
  .sidebar {
    width: 27.11864%;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }
}

/* Sidebar Widgets
--------------------------*/
.sidebar-get-started,
.sidebar-signup {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.sidebar-signup {
  text-align: center;
  margin: 2rem 0;
  /*fieldset {
        padding: 0 !important;
        border: none;
    }*/
}

.sidebar-signup h2 {
  color: #6281c0;
  font-size: 0.95rem;
  margin-bottom: 0;
}

.sidebar-signup-link {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.25rem;
  padding: 2.5rem 1rem;
  font-weight: 700;
  color: #666;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-signup-link a {
  color: #666;
}

.sidebar-signup-link a:visited {
  color: #666;
}

/* Completetly Removed :(

.sidebar-input {
    @include span(9 of 12);
}

.sidebar-submit {
    @include span(3 of 12 last);
}*/
.featured-image {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
  padding: 0;
}

.simple-text {
  font-family: 'Century Gothic W01 Bold';
}

.president-text {
  font-size: 0.93rem;
  line-height: 1.25rem;
}

.page-about-us .quote {
  margin: 2rem 0;
}

.quote {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin: 1rem 0;
}

.quote p:nth-child(1) {
  font-size: 0.93rem;
  padding: 0;
  color: #30235e;
  margin-bottom: 0.25rem;
}

.quote p:nth-child(2) {
  margin: 0;
  padding: 1rem 0 .3rem 0;
  text-align: right !important;
  color: #aa67a9;
  font-weight: 500;
}

.quote p:nth-child(3) {
  margin: 0;
  padding: 0;
  text-align: right !important;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.quote blockquote {
  display: block;
  padding-left: 22px;
  position: relative;
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-right: 0;
}

.quote blockquote:before {
  content: "\201C";
  font-size: 4rem;
  font-weight: bold;
  color: #999;
  font-family: Georgia, serif;
  position: absolute;
  left: -20px;
  top: 12px;
  /*Unicode for Left Double Quote*/
}

.quote blockquote:after {
  content: "";
  /*Unicode for Left Double Quote*/
}

.category-financial-wisdom .sidebar-white-call > a:last-child {
  display: none;
}

.sidebar-white-call {
  background: white;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-radius: 8px;
  padding: 1.25rem;
}

.sidebar-white-call h2 {
  font-size: 600;
}

.sidebar-white-call h2 a {
  color: #30235e;
}

.sidebar-white-call h2 a:hover {
  color: #aa67a9;
}

.sidebar-white-call > a:last-child {
  font-weight: bold;
  display: block;
  padding: 0.5rem;
  font-size: 0.85rem;
  border-radius: 6px;
  background: #30235e;
  margin: 1rem auto;
  text-align: center;
  color: white;
  transition: 0.1s linear 0.1s;
}

.sidebar-white-call > a:last-child:hover {
  color: white;
  background: #aa67a9;
}

.goals-sidebar-list {
  /* We need to fake a heading here because the
   plugin generates the parent page title
   > ul > li > a, &:after this is testing
   lets see if this works
*/
}

.goals-sidebar-list h2 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #30235e;
}

.goals-sidebar-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  font-weight: 400;
}

.goals-sidebar-list ul li {
  padding: 0.2rem 0;
}

.goals-sidebar-list ul a {
  color: #555;
}

.goals-sidebar-list ul a:first-child {
  font-weight: 700;
}

.goals-sidebar-list ul a:hover {
  color: #aa67a9;
}

.goals-sidebar-list ul a:before {
  content: " | ";
  font-weight: bold;
  color: #aa67a9;
}

.goals-sidebar-list ul a:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 0.75rem;
}

.goals-sidebar-list > ul > li > a {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #30235e;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  display: block;
  line-height: 2rem;
  font-weight: 400;
}

.goals-sidebar-list > ul > li > a:before {
  content: '';
}

.goals-sidebar-list > ul > li > a:after {
  content: "";
}

.financial-sidebar-cat {
  margin-bottom: 1.5rem;
}

.financial-sidebar-cat h2 {
  font-size: 1.43rem;
  margin: 0;
  padding: 0.65rem 0 1.7rem 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.financial-sidebar-cat ul {
  padding: 0;
  margin: 0 0 0 18px;
  list-style-image: url("img/carrots.png");
}

.financial-sidebar-cat ul li {
  border-bottom: none;
}

.financial-sidebar-cat ul a {
  color: #30235e;
  font-weight: bold;
  font-size: 0.85rem;
}

.financial-sidebar-cat ul a:hover {
  color: #aa67a9;
}

.financial-sidebar-cat ul .cat-post-item {
  padding: 0 0 0.75rem 0;
  margin: 0;
  list-style: inherit;
  list-style-type: inherit;
  line-height: 1.1rem;
}

.financial-sidebar-cat ul .cat-post-item:before, .financial-sidebar-cat ul .cat-post-item:after {
  content: "";
  display: none !important;
  clear: both;
}

.category-financial-wisdom article {
  padding: 0;
  margin: 0;
}

.category-financial-wisdom article h2 {
  margin: 0;
  padding: 1rem 0;
}

.category-be-informed article h2 {
  margin-bottom: 1rem;
}

.cat-post-item .cat-post-current {
  text-transform: inherit !important;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.wp-paginate {
  margin: 1.5rem 0 !important;
}

.wp-paginate a {
  background: none !important;
  border: none !important;
  color: #999 !important;
  margin-right: 4px;
  padding: 4px 8px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.wp-paginate .current {
  color: #aa67a9 !important;
  background: none !important;
  border-bottom: 4px solid #aa67a9 !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  margin-right: 4px;
  padding: 4px 8px;
}

.wp-paginate .next {
  float: none !important;
}

/*--------------------------------------------------------------
# Signup Row
--------------------------------------------------------------*/
.signup-row {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1.75rem 0;
  font-family: 'Raleway', sans-serif;
  background: #30235e;
}

.signup-row .frm_ajax_loading {
  display: none;
}

.signup-inner {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  color: #fff;
  text-align: center;
  font-size: 1.35rem;
  /* Completely Removed Form :(

   fieldset {
        border: none !important;
        padding: 0 !important;
    }

    .frm_error_style,
    .frm_error {
        font-size: 0.85rem;
        color: red;
    }

    @include susy-media($large) {
        padding: 0;
    }
}

.newsletter-text {
    font-size: 1.2rem;
    padding: 0.5rem 0;

    @include susy-media($large) {
        @include span(5 of 12 first);

        padding: 1rem 0;
        text-align: center;
    }
}

.newsletter-input {
    @include span(12);

    font-size: 24px;
    padding: 0.5rem 0;

    @include susy-media($medium) {
        @include span(8 of 12);

        @include pre(2);
    }


    @include susy-media($large) {
        @include span(5 of 12);

        @include pre(0);
    }
}

.newsletter-submit {
    font-size: 24px;
    padding: 0.5rem 0;

    @include span(10 of 12);

    @include pre(1);

    @include susy-media($medium) {
        @include span(4 of 12);

        @include pre(4);
    }


    @include susy-media($large) {
        @include span(1 of 12);

        @include pre(0);
    }
    */
}

.signup-inner:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 992px) {
  .signup-inner {
    padding: 0;
  }
}

.signup-inner a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.signup-inner a:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 0.75rem;
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0 0 0;
  background: #363636;
}

.colophon {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  color: #CCC;
  font-size: 0.9rem;
  padding: 0 1.5rem;
}

.colophon:after {
  content: " ";
  display: block;
  clear: both;
}

.copyright {
  width: 100%;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(81, 79, 79, 0.39);
}

.copyright p {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.85rem;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.copyright p:after {
  content: " ";
  display: block;
  clear: both;
}

.jemma-footer-widget {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.5rem;
}

.jemma-footer-widget:nth-child(3) {
  float: right;
  margin-right: 0;
}

.jemma-footer-widget a {
  color: #ccc;
}

.jemma-footer-widget p {
  padding: 0;
  color: #ccc;
}

.jemma-footer-widget h5 {
  padding: 1.5rem 0;
  margin: 0;
  color: #6281c0;
  font-weight: 500;
}

.jemma-footer-widget ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 992px) {
  .jemma-footer-widget {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .jemma-footer-widget:nth-child(3) {
    float: right;
    margin-right: 0;
  }
}

.your-goals-footer ul .page-item-22 {
  padding: 1.5rem 0;
  margin: 0;
}

.your-goals-footer ul .page-item-22 .children {
  margin-top: 1.5rem;
}

.your-goals-footer ul .page-item-22 > a {
  font-size: 1.125rem;
  line-height: 1.066rem;
  color: #6281c0 !important;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 992px) {
  .contact-us-footer {
    padding-left: 5.25rem;
  }
}

.financial-wisdom-footer ul li {
  border-bottom: 1px solid rgba(204, 204, 204, 0.13) !important;
}

.financial-wisdom-footer ul li:last-child {
  border-bottom: none !important;
}

.financial-wisdom-footer .cat-post-current .cat-post-title {
  font-weight: normal;
  text-transform: inherit;
}

/*--------------------------------------------------------------
# Popup
--------------------------------------------------------------*/
#signup-popup {
  background: #6281c0 !important;
  max-width: 780px !important;
}

#get-started-popup,
#leaving-popup,
#leaving-popup2,
#leaving-popup3,
#leaving-popup4,
.popup,
#signup-popup {
  max-width: 675px;
  margin: 20px auto;
  border-radius: 8px;
  background: #c698c6;
  position: relative;
}

#get-started-popup .frm_html_container,
#leaving-popup .frm_html_container,
#leaving-popup2 .frm_html_container,
#leaving-popup3 .frm_html_container,
#leaving-popup4 .frm_html_container,
.popup .frm_html_container,
#signup-popup .frm_html_container {
  text-align: center;
}

#get-started-popup h2,
#leaving-popup h2,
#leaving-popup2 h2,
#leaving-popup3 h2,
#leaving-popup4 h2,
.popup h2,
#signup-popup h2 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  padding: 0;
  color: #30235e;
  font-weight: 600;
  line-height: 1.053rem;
  text-transform: uppercase;
}

#get-started-popup .or,
#leaving-popup .or,
#leaving-popup2 .or,
#leaving-popup3 .or,
#leaving-popup4 .or,
.popup .or,
#signup-popup .or {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
  color: #30235e;
  font-weight: 400;
}

#get-started-popup .frm_section_heading h3,
#leaving-popup .frm_section_heading h3,
#leaving-popup2 .frm_section_heading h3,
#leaving-popup3 .frm_section_heading h3,
#leaving-popup4 .frm_section_heading h3,
.popup .frm_section_heading h3,
#signup-popup .frm_section_heading h3 {
  text-align: center;
  border-top: 0 !important;
  color: #30235e;
  padding: 1rem 0;
}

#get-started-popup h4,
#leaving-popup h4,
#leaving-popup2 h4,
#leaving-popup3 h4,
#leaving-popup4 h4,
.popup h4,
#signup-popup h4 {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  padding: 0;
  color: #30235e;
  font-weight: 300;
  text-transform: inherit;
}

#get-started-popup .close,
#leaving-popup .close,
#leaving-popup2 .close,
#leaving-popup3 .close,
#leaving-popup4 .close,
.popup .close,
#signup-popup .close {
  top: 1rem;
  position: absolute;
  right: 0.75rem;
  margin-right: 0.5rem;
  color: #30235e !important;
  cursor: pointer;
  z-index: 900;
}

#get-started-popup .close a,
#leaving-popup .close a,
#leaving-popup2 .close a,
#leaving-popup3 .close a,
#leaving-popup4 .close a,
.popup .close a,
#signup-popup .close a {
  color: #30235e !important;
}

#get-started-popup .get-started-form,
#leaving-popup .get-started-form,
#leaving-popup2 .get-started-form,
#leaving-popup3 .get-started-form,
#leaving-popup4 .get-started-form,
.popup .get-started-form,
#signup-popup .get-started-form {
  padding: 1.5rem;
  width: 100%;
}

#get-started-popup .get-started-form p,
#leaving-popup .get-started-form p,
#leaving-popup2 .get-started-form p,
#leaving-popup3 .get-started-form p,
#leaving-popup4 .get-started-form p,
.popup .get-started-form p,
#signup-popup .get-started-form p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

#get-started-popup .get-started-form p a,
#leaving-popup .get-started-form p a,
#leaving-popup2 .get-started-form p a,
#leaving-popup3 .get-started-form p a,
#leaving-popup4 .get-started-form p a,
.popup .get-started-form p a,
#signup-popup .get-started-form p a {
  color: white;
}

#get-started-popup input[type="submit"],
#leaving-popup input[type="submit"],
#leaving-popup2 input[type="submit"],
#leaving-popup3 input[type="submit"],
#leaving-popup4 input[type="submit"],
.popup input[type="submit"],
#signup-popup input[type="submit"] {
  border: none;
}

#get-started-popup #field_abx5k,
#get-started-popup #field_5631c,
#leaving-popup #field_abx5k,
#leaving-popup #field_5631c,
#leaving-popup2 #field_abx5k,
#leaving-popup2 #field_5631c,
#leaving-popup3 #field_abx5k,
#leaving-popup3 #field_5631c,
#leaving-popup4 #field_abx5k,
#leaving-popup4 #field_5631c,
.popup #field_abx5k,
.popup #field_5631c,
#signup-popup #field_abx5k,
#signup-popup #field_5631c {
  color: #999;
}

#get-started-popup .frm_submit,
#leaving-popup .frm_submit,
#leaving-popup2 .frm_submit,
#leaving-popup3 .frm_submit,
#leaving-popup4 .frm_submit,
.popup .frm_submit,
#signup-popup .frm_submit {
  width: 130px;
  margin: auto;
  padding-top: 1.5rem;
}

#get-started-popup .frm_checkbox label,
#leaving-popup .frm_checkbox label,
#leaving-popup2 .frm_checkbox label,
#leaving-popup3 .frm_checkbox label,
#leaving-popup4 .frm_checkbox label,
.popup .frm_checkbox label,
#signup-popup .frm_checkbox label {
  color: white;
  font-size: 0.85rem;
}

#get-started-popup .popup-submit,
#leaving-popup .popup-submit,
#leaving-popup2 .popup-submit,
#leaving-popup3 .popup-submit,
#leaving-popup4 .popup-submit,
.popup .popup-submit,
#signup-popup .popup-submit {
  background: #30235e;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  margin: auto !important;
  width: 130px;
}

@media (min-width: 768px) {
  #get-started-popup .push-right-large,
  #leaving-popup .push-right-large,
  #leaving-popup2 .push-right-large,
  #leaving-popup3 .push-right-large,
  #leaving-popup4 .push-right-large,
  .popup .push-right-large,
  #signup-popup .push-right-large {
    margin-left: 10rem;
  }
}

@media (min-width: 768px) {
  #get-started-popup .push-right,
  #leaving-popup .push-right,
  #leaving-popup2 .push-right,
  #leaving-popup3 .push-right,
  #leaving-popup4 .push-right,
  .popup .push-right,
  #signup-popup .push-right {
    margin-left: 6rem;
  }
}

@media (min-width: 768px) {
  #get-started-popup .push-right-half,
  #leaving-popup .push-right-half,
  #leaving-popup2 .push-right-half,
  #leaving-popup3 .push-right-half,
  #leaving-popup4 .push-right-half,
  .popup .push-right-half,
  #signup-popup .push-right-half {
    margin-left: 5rem;
  }
}

@media (min-width: 768px) {
  #get-started-popup .bordered-left,
  #leaving-popup .bordered-left,
  #leaving-popup2 .bordered-left,
  #leaving-popup3 .bordered-left,
  #leaving-popup4 .bordered-left,
  .popup .bordered-left,
  #signup-popup .bordered-left {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 2.5rem;
  }
}

#get-started-popup .schwab-account-button,
#leaving-popup .schwab-account-button,
#leaving-popup2 .schwab-account-button,
#leaving-popup3 .schwab-account-button,
#leaving-popup4 .schwab-account-button,
.popup .schwab-account-button,
#signup-popup .schwab-account-button {
  width: 57.62712%;
  border-radius: 8px;
  margin: auto;
  background: #30235e;
  color: #FFF;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  margin: auto;
  background: #30235e;
  color: #FFF;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#get-started-popup .schwab-account-button a,
#leaving-popup .schwab-account-button a,
#leaving-popup2 .schwab-account-button a,
#leaving-popup3 .schwab-account-button a,
#leaving-popup4 .schwab-account-button a,
.popup .schwab-account-button a,
#signup-popup .schwab-account-button a {
  color: white;
}

#get-started-popup .frm_message,
#leaving-popup .frm_message,
#leaving-popup2 .frm_message,
#leaving-popup3 .frm_message,
#leaving-popup4 .frm_message,
.popup .frm_message,
#signup-popup .frm_message {
  font-size: 1.5rem;
  color: white !important;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: none;
  border: none;
}

#get-started-popup .frm_message p,
#leaving-popup .frm_message p,
#leaving-popup2 .frm_message p,
#leaving-popup3 .frm_message p,
#leaving-popup4 .frm_message p,
.popup .frm_message p,
#signup-popup .frm_message p {
  color: white;
  font-size: 1.5rem;
}

.contact-form #field_abx5k2 {
  color: #999;
}

.contact-form .frm_section_heading h3 {
  color: #30235e !important;
  padding: 0.75rem 0 0.5rem 0 !important;
  border-top: none !important;
}

.contact-form input[type="submit"] {
  background: #30235e !important;
  padding: 0.5rem 1rem !important;
  border: none;
  color: white !important;
  width: 130px;
}

#leaving-popup .leaving-info,
.popup .leaving-info,
#leaving-popup2 .leaving-info,
#leaving-popup3 .leaving-info,
#leaving-popup4 .leaving-info {
  position: relative;
  width: 100%;
  margin: auto;
  min-height: 180px;
  padding: 0.75rem 2rem;
}

#leaving-popup .leaving-info h3,
.popup .leaving-info h3,
#leaving-popup2 .leaving-info h3,
#leaving-popup3 .leaving-info h3,
#leaving-popup4 .leaving-info h3 {
  text-align: center;
  position: relative;
  top: 21px;
  color: white;
  margin-bottom: 3rem;
  margin-top: 0;
  line-height: 1.75rem !important;
}

#leaving-popup .leaving-info a,
.popup .leaving-info a,
#leaving-popup2 .leaving-info a,
#leaving-popup3 .leaving-info a,
#leaving-popup4 .leaving-info a {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

#leaving-popup .leaving-info a:hover,
.popup .leaving-info a:hover,
#leaving-popup2 .leaving-info a:hover,
#leaving-popup3 .leaving-info a:hover,
#leaving-popup4 .leaving-info a:hover {
  color: #fff;
}

#leaving-popup .leaving-info .warning-button,
.popup .leaving-info .warning-button,
#leaving-popup2 .leaving-info .warning-button,
#leaving-popup3 .leaving-info .warning-button,
#leaving-popup4 .leaving-info .warning-button {
  max-width: 55%;
  margin-bottom: 1rem;
}

#leaving-popup2 {
  background: white;
  -webkit-box-shadow: -6px 1px 18px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -6px 1px 18px -2px rgba(0, 0, 0, 0.25);
  box-shadow: -6px 1px 18px -2px rgba(0, 0, 0, 0.25);
}

#leaving-popup2 .leaving-info h3 {
  color: #30235e !important;
}

#leaving-popup2 p {
  color: black;
}

#leaving-popup2 .notice {
  font-weight: bold;
  margin-top: 3rem;
}

.signup-popup-form h2,
.get-started-form h2 {
  line-height: 2rem !important;
}

/*--------------------------------------------------------------
# SO PB Plugin Edits
--------------------------------------------------------------*/
#pl-30 .panel-grid-cell .so-panel {
  margin-bottom: 0px !important;
}

/*--------------------------------------------------------------
# Carousel Plugin Edits
--------------------------------------------------------------*/
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: block;
  float: left;
  margin-right: 15px;
  width: 200px !important;
  height: 240px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  display: block;
  width: 235px !important;
  height: 170px !important;
  background-size: 235px 170px !important;
  background-position: center center;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #30235e !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail {
  border-radius: 8px !important;
  overflow: hidden;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail .overlay {
  border-radius: 8px;
  width: 200px !important;
  height: 170px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a, .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  /* -webkit-transition: all 0.35s ease; */
  -moz-transition: none;
  -o-transition: none;
  /* transition: all 0.35s ease; */
}

.sow-carousel-title a.sow-carousel-next, .sow-carousel-title a.sow-carousel-previous {
  font-family: 'carousel-arrows';
  speak: none;
  display: block;
  float: right;
  overflow: hidden;
  margin-left: 2px;
  margin-top: 3px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 15px !important;
  line-height: 18px;
  width: 18px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: #aa67a9 !important;
  background: none !important;
  border-radius: 2px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}
